{% extends 'App_Components/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}

<h1>Lista de formularios</h1>

{% for form in forms %}
<div class="form-container-blog">
  <div>{{ form.title }}</div>
  <div>{{ form.content }}</div>
  <div>
        <a href="{% url 'view_blog' form.id %}"><button>Ver más</button></a>
      <a href="{% url 'edit_blog' form.id %}"><button>Editar</button></a>
      <div>
          <form action="{% url 'blog_delete' form.id %}" method="POST">
              {% csrf_token %}
              <button type="submit">Eliminar</button>
          </form>
      </div>
  </div>
</div>
{% endfor %}


{% endblock main %}
