{% extends 'App_Components/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}


<div class="container-form-blog">
  <div class="column-form">
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="formularios-container-form">
        <table>
          {{ miFormulario.as_table }}
        </table>
        <div class="submit-btn">
          <input type = "submit" value="Enviar">
        </div>
      </div>
    </form> 
  </div>

  <div class="column-form">
    <div class="testing">
      <img class="imagen-formulario" src="{% static 'App_Components/img/93861795.jpg' %}">
    </div>
  </div>
  
</div>
   

{% endblock main %}