{% extends 'App_Components/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}


<div>
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    <p>AGREGAR PERFIL</p>
    <p> Nombre: <input type = "text" name="name">
    <p> Apellido: <input type = "text" name="surname">
    <p> Description: <input type = "text" name="description">
      <div>
        <input type = "submit" value="Enviar">
      </div>
  </form> 
</div>
   

{% endblock main %}