{% extends 'App_Components/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}

<div class="blog-container">
  <p>Nombre: {{ profile.name }}</p>
  <p>Apellido: {{ profile.surname }}</p>
  <p>Descripción: {{ profile.description }}</p>
  <p>Sitio web: <a href="{{ profile.website }}">{{ profile.website }}</a></p>
  {% if profile.image %}
  <div class="image-cont">
    <img class="img" src="{{ profile.image.url }}" alt="Imagen de perfil">
  </div>
  {% endif %}
  <a href="{% url 'Profile_Form' %}">
    Editar perfil
  </a>
</div>

{% endblock main %}
